# Folders
.vs/
node_modules/

# Files
*.pdb

# BackEnd
BackEnd/x64/**

# FrontEnd
FrontEnd/obj/**
FrontEnd/bin/**

# FrontEnd 2
WinUIApp/obj/**
WinUIApp/bin/**

# SimpleX 12
SimpleX12/x64/**

packages/**
x64/**
